
@model G16_2013.Models.MemberModel.AccountContactInfoInputModel
<div class="form-group">
    @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Phone)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.TEL, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TEL)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Email)
    </div>
</div>