@model G16_2013.Models.MemberModel.CompanyContractInputModel

<tr id="trContract_@Model.Id">

    <td>@Html.DisplayFor(m => m.CompanyNameText)</td>
    <td>@Html.DisplayFor(m => m.StatusText)</td>
    <td>@Html.DisplayFor(m => m.BeginDate)</td>
    <td>@Html.DisplayFor(m => m.EndDate)</td>
    <td>@Html.DisplayFor(m => m.PS)</td>
    <td>

        <button type="button" class="btn btn-default btn-sm" name="btnEditCompanyContract" onclick="EditContractRecord(@Model.CompanyId,@Model.Id);">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button" class="btn btn-sm" name="btnDeleteCompanyContract"  data-toggle="modal" data-target="#WarningConfirmDeleteContract" >
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        @* onclick="DeleteCompanyContract(@Model.CompanyId,@Model.Id);" *@
    </td>
</tr>
<!-- 嚴重的提醒視窗 -->
<div class="modal fade" id="WarningConfirmDeleteContract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
        <div class="modal-header" style="background-color:#f00;padding:5px 20px;border-radius:5px 5px 0 0">
        <h1  class="modal-title" id="myModalLabel" style="color:#ffffff"><span class="glyphicon glyphicon-warning-sign" ></span>警告</h1>
      </div>
      <div class="modal-body" style="text-indent:15px">
        <h1 class="text-primary">            
             確定要刪除合約紀錄?          
        </h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="btnDeleteContract" >確認刪除</button>
      </div>
   </div>
  </div>
</div>

@using (Html.BeginScriptContext())
{

    Html.AddScriptBlock(
        @<script>

            function EditContractRecord(companyId, id) {
                var actionUrl = '@Url.Action("EditContractRecord", "Company")' +"?companyId="+companyId+ "&id=" + id + " ";
                var type = "GET";
                var trId = "trContract_" + id;
                var divToReplace = $("#" + trId);            
               
                AsyncUpdateReplace(actionUrl, type, divToReplace);

            }
            

             $("#btnDeleteContract").click(function () {
                 var actionUrl = '@Url.Action("DeleteCompanyContract", "Company")' + "?companyId=" + @Model.CompanyId + "&id=" + @Model.Id + " ";                 
                 location.href = actionUrl;
             })
        </script>
, true);
}
