@model G16_2013.Models.MemberModel.CompanyInputModel

<h3>@Model.InputTitle</h3>
@using (Html.BeginForm("UpdateCompanyManager", "Company", FormMethod.Post, new { @class = "form-horizontal well" }))
{

    <fieldset>

        <div class="form-group">
            @Html.LabelFor(model => model.NoManager, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(model => model.NoManager, false, new { @checked = true, id = "hasManager" })
                        有
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(model => model.NoManager, true)
                        無
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    @Html.HiddenFor(m => m.CompanyId)
     



    <input value="@Model.ManagerId" style="display:none" id="ManagerId" name="ManagerId" />

    <div id="divManager">
        @*<h3>公司聯絡人資訊</h3>*@
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.ManagerInput.IsPersonExist, false, new { @checked = true, id = "newPerson"})
            新增人員
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.ManagerInput.IsPersonExist, true, new { id = "existPerson"})
            現有人員
        </label>
            @*<label class="radio-inline">
                <input type="radio" name="PersonType" checked="checked" id="AddPerson" />新增人員
            </label>
            <label class="radio-inline">
                <input type="radio" name="PersonType" id="FindPerson" />現有人員
            </label>*@
           
        <div id="divNewPerson" class="form-group">
            @Html.EditorFor(m => m.ManagerInput, "Person/PersonWithContactInfo")
        </div>
        <div id="divExisterson" class="form-group" style="display: none">
           
            @Html.Action("ShowGetPersonInput", "Company", new { existPersonLabelId = "ManagerId" })
        </div>
    </div>
    <div class="form-group" id="divButtons">
        <div class="col-md-6 col-md-offset-2">
            <input type="button" class="btn btn-default" id="btnCancelEditManager" value="取消" />
            <button type="submit" class="btn btn-primary">確認送出</button>
        </div>
    </div>

}
@using (Html.BeginScriptContext())
{


    Html.AddScriptBlock(
        @<script type="text/javascript">
            $(document).ready(function () {
                init();
            })

            function init() {

                $("#btnCancelEditManager").click(function (e) {
                    e.preventDefault();
                    var Url = window.location;
                    window.location.assign(Url);
                })

                //radio無聯絡人切換事件
                var inputName = '@Html.NameFor(m=>m.NoManager)';
                $("input[name='" + inputName + "']").change(function () {
                    var actionName = $(this).attr("id").toString();
                    switch (actionName) {
                        case "hasManager":
                            $("#divManager").css("display", "inline");                           
                            break;
                        case "NoManager":
                            $("#divManager").css("display", "none");
                            break;
                    }
                })

                //radio現有人員切換事件                
                $("input[name='@Html.NameFor(m=>m.ManagerInput.IsPersonExist)']").change(function () {
                    var actionName = $(this).attr("id").toString();
                    switch (actionName) {
                        case "newPerson":
                            $("#divNewPerson").css("display", "inline");
                            $("#divExisterson").css("display", "none");
                            //$("#divButtons").css("display", "inline");
                            break;
                        case "existPerson":
                            $("#divNewPerson").css("display", "none");
                            $("#divExisterson").css("display", "inline");
                            //$("#divButtons").css("display", "none");
                            break;
                    }
                })

                //PersonFinded事件


            }   //End init
        </script>
, true);
}

