@model G16_2013.Models.MemberModel.CompanyContractInputModel



<tr id="trContract_@Model.Id">

    <td>@Html.TextBoxFor(m => m.CompanyNameText, new { @class = "form-control  input-sm", @disabled = "disabled" })</td>
    <td>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.IsActive, "true", new { @class = "radio-inline" })
            @Html.Label("active", "有效")
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.IsActive, "false", new { @class = "radio-inline" })
            @Html.Label("notActive", "已無效")
        </label>

    </td>
    <td>@Html.EditorFor(m => m.BeginDate, "DatePicker", new { @class = "form-control input-sm" })</td>
    <td>@Html.EditorFor(m => m.EndDate, "DatePicker", new { @class = "form-control input-sm" })</td>
    <td>@Html.TextBoxFor(m => m.PS, new { @class = "form-control input-sm" })</td>
    <td>

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CompanyId)
        <button type="button" class="btn btn-default btn-sm" name="btnCancelEditContract" onclick="CancelEditContract(@Model.CompanyId,@Model.Id);">
            取消
        </button>
        <button type="submit" class="btn btn-primary btn-sm" name="btnUpdateAEContract">
            儲存
        </button>
    </td>
</tr>

@using (Html.BeginScriptContext())
{
    

    Html.AddScriptBlock(
        @<script>
           
            function CancelEditContract(companyId, id) {
                var actionUrl = '@Url.Action("ReadContract", "Company")' + "?companyId=" + companyId + "&id=" + id + " ";
                var type = "GET";
                var trId = "trContract_" + id;
                var divToReplace = $("#" + trId);

                AsyncUpdateReplace(actionUrl, type, divToReplace);

            }
        </script>
, true);
}

