@using PagedList;
@using PagedList.Mvc;
@model IPagedList<G16_2013.Models.MemberModel.AECodeViewModel>


<div id="divAECodesList">
    @using (Ajax.BeginForm("ReadAECodes", "Company", new AjaxOptions { UpdateTargetId = "divAECodesList" }, new { @class = "form-horizontal" }))
    {
        @Html.Action("GetAECodeSearchInput", "Company", new { companyId = ViewBag.CompanyId, searchWay = ViewBag.SearchWay, businessType = ViewBag.BusinessType })

    }

    <table id="tableAECodeList" class="table">
        <thead>
            <tr>
                <th>公司</th>
                <th>業務代碼</th>
                <th>業務類型</th>
                <th>狀態</th>
                <th>AE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count == 0)
            {
                <tr>
                    <td colspan="5">查無資料</td>


                </tr>
            }
            else
            {
                foreach (var record in Model)
                {

                    <tr>
                        <td>@Html.DisplayFor(m => record.CompanyName) @Html.DisplayFor(m => record.BranchName)</td>
                        <td>@Html.DisplayFor(m => record.Code)</td>
                        <td>@Html.DisplayFor(m => record.TypeName)</td>
                        <td>@Html.DisplayFor(m => record.StatusName)</td>
                        <td>@Html.DisplayFor(m => record.AEName)</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" name="btnEditAECode" onclick="EditAECode(@record.AECodeId);">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </td>
                    </tr>

                }
            }

        </tbody>
    </table>


    @Html.PagedListPager(Model, page => Url.Action("ReadAERecords", new { companyId = ViewBag.CompanyId, page = page, searchWayId = ViewBag.SearchWay, businessType = ViewBag.BusinessType }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
 new PagedListRenderOptions
        {

            LinkToFirstPageFormat = "<< 第一頁",
            LinkToPreviousPageFormat = "< 上一頁",
            LinkToNextPageFormat = "下一頁 >",
            LinkToLastPageFormat = "最後一頁 >>",
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
        },
                        new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divAECodesList" }))

</div>

@using (Html.BeginScriptContext())
{

    Html.AddScriptBlock(
        @<script type="text/javascript">

            function EditAECode(id) {
                var actionUrl = '@Url.Action("EditAECode", "Company")' + "?id=" + id + '';
                var type = "GET";

                var divToReplace = $("#divOperating");
                AsyncUpdate(actionUrl, type, divToReplace);


            }
            //Selected Row 事件
            $("button[name='btnEditAECode']").click(function () {
                //修改樣式
                SelectedStyle($(this));
            })

            //修改樣式方法
            function SelectedStyle(obj) {
                obj.parents("table").find("tr").each(function () {
                    $(this).removeClass("danger");
                });
                obj.parents("tr").addClass("danger");
            }
        </script>
, true);
}







