@model G16_2013.Models.MemberModel.PersonInputModel



    @Html.AntiForgeryToken()
    <fieldset>
        <legend>基本資料</legend>
        <div class="form-group">

            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "請填寫姓名" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TWID, new { @class = "control-label col-md-2" })

            <div class="col-md-6">
                @Html.TextBoxFor(model => model.TWID, new { @class = "form-control", @placeholder = "請填寫身分證字號" })

                @Html.ValidationMessageFor(model => model.TWID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(model => model.Gender, true, new { @checked = true })
                        男
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(model => model.Gender, false)
                        女
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Birthday, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Birthday, "DatePicker", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PS, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.PS, new { @class = "form-control" })
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>聯絡資訊</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactInfoInput.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.ContactInfoInput.Email, new { @class = "form-control", @placeholder = "stephen.chung@concords.com.tw" })
                @Html.ValidationMessageFor(model => model.ContactInfoInput.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactInfoInput.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.ContactInfoInput.Phone, new { @class = "form-control", @placeholder = "0922-312-921" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactInfoInput.TEL, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.ContactInfoInput.TEL, new { @class = "form-control", @placeholder = "02-2717-0632" })
            </div>
        </div>

        <div class="form-group">
            <label for="ZipCode" class="col-md-2 control-label">地址</label>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.ContactInfoInput.AddressInput.ZipCode, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.ContactInfoInput.AddressInput.CityId, new SelectList(Model.ContactInfoInput.AddressInput.CityOptions, "Value", "Text", Model.ContactInfoInput.AddressInput.CityId), new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.ContactInfoInput.AddressInput.DistrictId, new SelectList(Model.ContactInfoInput.AddressInput.DistrictOptions, "Value", "Text", Model.ContactInfoInput.AddressInput.CityId), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.ContactInfoInput.AddressInput.Street, new { @class = "form-control", @placeholder = "復興北路143號5樓" })
            </div>
        </div>




    </fieldset>


@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">

            $(document).ready(function () {
                var SelectCity = $('#@Html.IdFor(m=>m.ContactInfoInput.AddressInput.CityId)');
                var SelectDistrict = $('#@Html.IdFor(m => m.ContactInfoInput.AddressInput.DistrictId)');
                var InputZipCode = $('#@Html.IdFor(m => m.ContactInfoInput.AddressInput.ZipCode)');

                BookAddressEvent(InputZipCode, SelectCity, SelectDistrict);
            })
        </script>
, true);
}



