@model G16_2013.Models.MemberModel.PersonInputModel

@using (Ajax.BeginForm("UpdatePerson", "Person", new AjaxOptions { UpdateTargetId = "divPerson", HttpMethod = "POST" }))
{
    <table class="table table-striped table-hover" id="tablePerson" style="table-layout:fixed">
        <thead>
            <tr>
                <th>@Html.HiddenFor(m => m.PersonId)</th>
                <th>@Html.LabelFor(m => m.Name)</th>
                <th>@Html.LabelFor(m => m.TWID)</th>
                <th>@Html.LabelFor(m => m.Gender)</th>
                <th>@Html.LabelFor(m => m.Birthday)</th>
                <th>@Html.LabelFor(m => m.PS)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-default btn-sm " id="btnCancel">取消</button>
                    <button type="submit" class="btn btn-primary btn-sm"  id="btnSavePerson">儲存</button>                   
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control  input-sm" })
                    @Html.ValidationMessageFor(m => m.Name)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.TWID, new { @class = "form-control  input-sm" })
                </td>
                <td>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.Gender, "true", new { id = "male" })
                        @Html.Label("male", "男")
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.Gender, "false", new { id = "female" })
                        @Html.Label("female", "女")
                    </label>
                </td>

                <td>@Html.EditorFor(m => m.Birthday, "DatePicker", new { @class = "form-control  input-sm" })</td>
                <td>@Html.TextBoxFor(m => m.PS, new { @class = "form-control  input-sm" }) </td>
            </tr>
        </tbody>
    </table>

}




@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            //叫驗證的方法
            $.validator.unobtrusive.parse($("#divPerson"));

            $("#btnCancel").click(function (e) {
                e.preventDefault();

                var actionUrl = '@Url.Action("ReadPerson", "Person", new { id = Model.PersonId, allowEdit = true })';
                var Type = "GET";
                var divToReplace = $("#divPerson");

                AsyncUpdate(actionUrl, Type, divToReplace);

            })
        </script>
, true);
}
