@model G16_2013.Models.MemberModel.TestForexBankInfoInput


<tr id="trBankInfo_@Model.Serial">
    <td>@Html.DisplayFor(m => m.Serial)</td>
    <td>@Html.DropDownListFor(m => m.CurrencyId, new SelectList(Model.CurrencyOptions, "Value", "Text", Model.CurrencyId), new { @class = "form-control input-sm" })</td>
    <td>@Html.TextBoxFor(m => m.BankName, new { @class = "form-control input-sm" })</td>
    <td>@Html.TextBoxFor(m => m.BankNumber, new { @class = "form-control input-sm" })</td>

    <td>
        @Html.HiddenFor(m => m.Serial)
        @Html.HiddenFor(m => m.IsIn)
        @Html.HiddenFor(m => m.AllowDelete)

        @if (Model.AllowDelete)
        {

          <span class="glyphicon glyphicon-trash text-danger btnCancel" style="font-size: 18px; line-height: 32px; cursor: pointer" data-toggle="tooltip" data-placement="top" title="點此刪除"></span>

        }


    </td>
</tr>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">

            $(document).ready(function () {
                $("span.btnCancel").tooltip().click(function () {
                    var _tbody = $(this).parents("tbody");
                    var _div = $(this).parents("table").parent("div");
                    $(this).parents("tr").remove();
                    if (_tbody.children("tr").length == 0) {
                        _div.append("<h2 class='text-muted'>無資料</h1>").find("table").remove();
                    }
                });
            })
        </script>
, true);
}

