@model G16_2013.Models.MemberModel.PersonSelectCreateInput
<div class="form-group">
    <div class="radio radio-inline">
        <label>
            @Html.RadioButtonFor(model => model.PersonExsit, false, new { id = "newPerson" })
            新增人員
        </label>
    </div>
    <div class="radio radio-inline">
        <label>
            @Html.RadioButtonFor(model => model.PersonExsit, true, new { id = "existPerson" })
            現有人員
        </label>
        @*@Html.HiddenFor(m => m.ExsitPersonId)*@
        @Html.TextBoxFor(m => m.ExsitPersonId)
    </div>
</div>
<div id="divNewPerson">

    @Html.EditorFor(m => m.NewPersonInput, "Person/PersonWithContactInfo")

</div>
<div id="GetPersonDiv" style="display: none">
    <div class="form-group  has-success col-md-5">

        <label class="control-label " for="GetPersonInput">請在此輸入現有人員姓名，系統將顯示此人員基本資訊！</label>
        <input type="text" class="form-control" placeholder="現有人員姓名" id="GetPersonInput" />


    </div>
    <div id="waitdiv" class="col-md-12" style="display: none">
        <img src="~/Content/images/ajaxloader-g.gif" />
    </div>

    <div id="divExistPersonView">

        @if (Model.ExsitPersonId > 0)
        {
            @Html.DisplayFor(m => m.ExistPersonView, "Person/Person")
            <hr />
            @Html.DisplayFor(m => m.ExistPersonView.ContactInfoView, "Person/PersonContactInfo")
        }

    </div>




</div>

@using (Html.BeginScriptContext())
{


    Html.AddScriptBlock(
        @<script type="text/javascript">
            $(document).ready()
            {
                var existPersonLabelId = '@Html.IdFor(m=>m.ExsitPersonId)';
                var inputName = "#" + existPersonLabelId;
                var exsitPersonId = $(inputName).val();

                if (exsitPersonId > 0) {
                    $("#divNewPerson").css("display", "none");
                    $("#GetPersonDiv").css("display", "inline");
                }
                else {
                    $("#divNewPerson").css("display", "inline");
                    $("#GetPersonDiv").css("display", "none");
                }
                bookIsNewPerson();
                bookGetPersonInput();
            }




            function bookIsNewPerson() {
                //radio切換事件
                $("input[name='@Html.NameFor(m => m.PersonExsit)']").change(function () {
                    var actionName = $(this).attr("id").toString();
                    changeView(actionName);
                    //switch (actionName) {
                    //    case "newPerson":
                    //        $("#divNewPerson").css("display", "inline");
                    //        $("#GetPersonDiv").css("display", "none");

                    //        NewPerson();
                    //        break;
                    //    case "existPerson":
                    //        $("#divNewPerson").css("display", "none");
                    //        $("#GetPersonDiv").css("display", "inline");

                    //        ExistPerson();
                    //        break;
                    //}
                })
            }

            function changeView(actionName) {
                switch (actionName) {
                    case "newPerson":
                        $("#divNewPerson").css("display", "inline");
                        $("#GetPersonDiv").css("display", "none");

                        NewPerson();
                        break;
                    case "existPerson":
                        $("#divNewPerson").css("display", "none");
                        $("#GetPersonDiv").css("display", "inline");

                        ExistPerson();
                        break;
                }
            }

            function bookGetPersonInput() {
                var autocompleteUrl = '@Url.Action("FindPerson", "Person")';
                $("#GetPersonInput").autocomplete({
                    source: autocompleteUrl,
                    minLength: 0,
                    select: function (event, ui) {
                        //alert("選了!");
                        //選了人之後叫基本資料
                        // alert(ui.item.id);
                        $("#waitdiv").css("display", "block");
                        var id = ui.item.id;
                        GetPersonDetails(id);

                    }
                });
            }

            function GetPersonDetails(id) {
                var actionUrl = '@Url.Action("FindPersonWithContactInfo", "Person")' + '?id=' + id + ' ';
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: actionUrl,
                    dataType: 'html',
                    async: true,
                    success: function (data) {
                        $("#waitdiv").css("display", "none");
                        $("#divExistPersonView").html(data);

                        var existPersonLabelId = '@Html.IdFor(m=>m.ExsitPersonId)';
                        var inputName = "#" + existPersonLabelId;
                        $(inputName).val(id);

                        bookGetPersonInput();
                        PersonSelected();

                    },
                    error: function () {
                        alert('載入失敗!');
                    }
                });
            }





        </script>
, true);
}

