@using G16_2013.Models.MemberModel;
@model AccountInputModel

<table class="table table-bordered">

    <tr>
        <td>

            @Html.LabelFor(m => m.AccountType)
        </td>
        <td>
           @Html.DropDownListFor(m => m.AccountType, new SelectList(Model.AccountTypeOptions, "Value", "Text", Model.AccountType), new { @class = "form-control input-sm" })
        </td>

        <td>
            @Html.LabelFor(m => m.CompanyId)
        </td>
        <td>
            @Html.DropDownListFor(m => m.CompanyId, new SelectList(Model.CompanyOptions, "Value", "Text", Model.CompanyId), new { @class = "form-control input-sm"})
            @Html.DropDownListFor(m => m.BranchId, new SelectList(Model.BranchOptions, "Value", "Text", Model.BranchId), new { @class = "form-control input-sm"})
        </td>

    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.AccountNumber)</td>
        <td>@Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control input-sm" })</td>

        <td>@Html.LabelFor(m => m.PersonId)</td>
        <td>@Html.DisplayFor(m => m.OwnerName, new { @class = "form-control input-sm" })
            @Html.HiddenFor(m=>m.PersonId)
        </td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.OpenDate)</td>
        <td>@Html.EditorFor(m => m.OpenDate, new { @class = "form-control input-sm" })</td>

        <td>@Html.LabelFor(m => m.OpenAEId)</td>
        <td>
            @Html.DropDownListFor(m => m.OpenAEId, new SelectList(Model.AEOptions, "Value", "Text", Model.OpenAEId), new { @class = "form-control input-sm" })
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(m => m.ServiceAEId)
        </td>
        <td>
            @Html.DropDownListFor(m => m.ServiceAEId, new SelectList(Model.AEOptions, "Value", "Text", Model.ServiceAEId), new { @class = "form-control input-sm" })

        </td>
        <td>
            @Html.LabelFor(m => m.AECodeId)
        </td>
        <td>
            @Html.DropDownListFor(m => m.AECodeId, new SelectList(Model.AEOptions, "Value", "Text", Model.AECodeId), new { @class = "form-control input-sm" })

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.ReferralId)
        </td>
        <td>
            @Html.DropDownListFor(m => m.ReferralId, new SelectList(Model.PersonOptions, "Value", "Text", Model.ReferralId), new { @class = "form-control input-sm" })

        </td>
        <td>
          
        </td>
        <td>
          
        </td>
    </tr>
    
</table>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
         var parentSelect = $('#@Html.IdFor(m => m.CompanyId)');
         var subSelect = $('#@Html.IdFor(m => m.BranchId)');
         var actionUrl = '@Url.Action("GetBranch", "Company")' + "?cid=";
         BookParentSubSelectChanged(parentSelect, subSelect, actionUrl);

            //註冊TypeSelectChange 事件 
         var typeSelect = $('#@Html.IdFor(m => m.AccountType)');
            typeSelect.change(function () {
             AccountTypeChanged();
         });
        </script>
, true);
}
