@model G16_2013.Models.MemberModel.BankInfoInputModel

<tr id="trBankInfo_@Model.Serial">
    <td>@Html.DisplayFor(m => m.Serial)</td>
    <td>@Html.DropDownListFor(m => m.TypeId, new SelectList(Model.TypeOptions, "Value", "Text", Model.TypeId), new { @class = "form-control input-sm" })</td>
    <td>@Html.TextBoxFor(m => m.BankName)</td>
    <td>@Html.TextBoxFor(m => m.BankBranch)</td>
    <td>@Html.DropDownListFor(m => m.CurrencyId, new SelectList(Model.CurrencyOptions, "Value", "Text", Model.CurrencyId), new { @class = "form-control input-sm" })</td>
    <td>@Html.TextBoxFor(m => m.AccountNumber)</td>

    <td>
       

        @if (Model.AllowDelete && Model.Id==0)
        {
            <button type="button" class="btn btn-sm" name="btnDeleteBankInfo" onclick="$(this).closest('tr').remove();">

                <span class="glyphicon glyphicon-trash"></span>
            </button>
        }
        else
        { 
          
        }
        

        @Html.HiddenFor(m => m.Id)
       
        

    </td>
</tr>
