@model G16_2013.Models.MemberModel.AECodeAEInputModel


<tr id="trAECodeAE_@Model.Id">

    <td>@Html.DropDownListFor(m => m.AEId, new SelectList(Model.AEOptions, "Value", "Text", Model.AEId), new { @class = "form-control input-sm" })</td>
   
    <td>@Html.EditorFor(m => m.BeginDate, "DatePicker", new { @class = "form-control input-sm" })</td>
    <td>@Html.EditorFor(m => m.EndDate, "DatePicker", new { @class = "form-control input-sm" })</td>
    <td>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.IsActive, "true", new { @class = "radio-inline" })
            @Html.Label("active", "使用中")
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.IsActive, "false", new { @class = "radio-inline" })
            @Html.Label("notActive", "已停用")
        </label>

    </td>
    <td>

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.AECodeId)
        <button type="button" class="btn btn-default btn-sm" name="btnCancelEditContract" onclick="CancelEditAECodeAE(@Model.AECodeId,@Model.Id);">
            取消
        </button>
        <button type="submit" class="btn btn-primary btn-sm" name="btnUpdateAEContract">
            儲存
        </button>
    </td>
</tr>

@using (Html.BeginScriptContext())
{


    Html.AddScriptBlock(
        @<script>

            function CancelEditAECodeAE(aeCodeId, id) {
                var actionUrl = '@Url.Action("CancelEditAECodeAE", "Company")' + "?aeCodeId=" + aeCodeId + "&id=" + id + " ";
                var type = "GET";
                var trId = "trAECodeAE_" + id;
                var divToReplace = $("#" + trId);

                AsyncUpdateReplace(actionUrl, type, divToReplace);

            }
        </script>
, true);
}

