@model IEnumerable<G16_2013.Models.MemberModel.AECompanyView>
    <table class="table" id="tableAECompanyRecords">
        <thead>
            <tr>
                <th>就職公司</th>
                <th>狀態</th>
                <th>開始日期</th>
                <th>結束日期</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => record.CompanyText)</td>
                    <td>@Html.DisplayFor(m => record.StatusText)</td>
                    <td>@Html.DisplayFor(m => record.BeginDate)</td>
                    <td>@Html.DisplayFor(m => record.EndDate)</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" name="btnEditAECompany" onclick="EditAECompany(@record.Id);">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>



    

@using (Html.BeginScriptContext())
{
   
    Html.AddScriptBlock(
        @<script type="text/javascript">

             $("button[name='btnEditAECompany']").click(function () {

                 //修改樣式                 
                 SelectedStyle($(this));
             })
             //修改樣式方法
             function SelectedStyle(obj) {
                 obj.parents("table").find("tr").each(function () {
                     $(this).removeClass("danger");
                 });
                 obj.parents("tr").addClass("danger");
             }

             //呼叫修改頁面
            function EditAECompany(id) {
                var actionUrl = '@Url.Action("EditAECompanyRecord", "AE")' + "?id=" + id + '';
                var type = "GET";
                
                var divToReplace = $("#divOperating");
                AsyncUpdate(actionUrl, type, divToReplace);

               
            }
        </script>
, true);
}