@model G16_2013.Models.MemberModel.AEViewModel
<table class="table table-bordered">
    <tr>
        <td>@Html.LabelFor(m => m.BeginDate) </td>
        <td>@Html.DisplayFor(m => m.BeginDate)</td>
        <td>@Html.LabelFor(m => m.EndDate)</td>
        <td>
            @if (String.IsNullOrEmpty(Model.EndDate.ToString()))
            {
                @:--
                }
            else
            {
                @Html.DisplayFor(m => m.EndDate)
            }

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.IsActive)
        </td>
        <td>
            @Html.DisplayFor(m => m.IsActiveText)
        </td>
        <td>@Html.LabelFor(m => m.CurrentCompanyText)</td>
        <td>@Html.DisplayFor(m => m.CurrentCompanyText)</td>
    </tr>
</table>