@model G16_2013.Models.MemberModel.AEContractInputModel

<tr>
        <td>@Html.DisplayFor(m => m.AENameText)</td>
        <td>@Html.DisplayFor(m => m.StatusText)</td>
        <td>@Html.DisplayFor(m => m.BeginDate)</td>
        <td>@Html.DisplayFor(m => m.EndDate)</td>
        <td>
            <label  style="display: none"  for="AEId">@Model.AEId</label>
            <label  style="display: none"  for="Id">@Model.Id</label>
            <button type="button" class="btn btn-default btn-sm" name="btnEdit">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>            
        </td>
</tr>

@using (Html.BeginScriptContext())
{

    Html.AddScriptBlock(
    @<script type="text/javascript">
         $("button[name='btnEdit']").click(function () {
             //alert($(this).prev().html());
             var AEid = $(this).prev().prev().html();
             var contractId = $(this).prev().html();
             var trToReplace = $(this).parent().parent();
             $.ajax({
                 type: "GET",
                 cache: false,
                 url: '/AE/SwitchAEContractInput?AEid=' + AEid + '&contractId=' + contractId + '',
                 dataType: 'html',
                 async: true,
                 success: function (data) {
                     // this assumes that the data-ajax-mode is always "replace":     
                     trToReplace.replaceWith(data);

                 },
                 error: function () {
                     alert('載入失敗!');
                 }
             });
         }) //End click
         
    </script>
, true);
}