@model G16_2013.Models.MemberModel.AECodeViewModel

@using (Html.BeginForm("CreateAECode", "Company", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <h3>@Html.DisplayFor(m => m.InputTitle)</h3>

    <table class="table table-bordered">

        <tr>
            <td>

                @Html.LabelFor(m => m.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(m => m.CompanyName) @Html.DisplayFor(m => m.BranchName)
            </td>
            <td>
                @Html.LabelFor(m => m.AEId)
            </td>
            <td>
                @Html.DropDownListFor(m => m.AEId, new SelectList(Model.AEOptions, "Value", "Text", Model.AEId), new { @class="form-control input-sm"})

            </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Code)</td>
            <td>@Html.TextBoxFor(m => m.Code, new { @class="form-control input-sm"})</td>
            <td>@Html.LabelFor(m => m.BusinessTypeId)</td>
            <td>@Html.DropDownListFor(m => m.BusinessTypeId, new SelectList(Model.BusinessTypeOptions, "Value", "Text", Model.BusinessTypeId), new { @class="form-control input-sm"})</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.BeginDate)
            </td>
            <td>
                @Html.EditorFor(m => m.BeginDate, "DatePicker", new { @class = "form-control input-sm" })

            </td>
            <td>
              
            </td>
            <td>
                

            </td>
        </tr>

    </table>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-2">
            @Html.HiddenFor(m => m.CompanyId)
            @Html.HiddenFor(m => m.BranchId)
            <button id="btnCancelAddAECode" class="btn btn-default">取消</button>
            <button type="submit" class="btn btn-primary">確認送出</button>
        </div>
    </div>


}

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">

            // 註冊取消按鈕
            $("#btnCancelAddAECode").click(function (e) {

                e.preventDefault();

                var actionUrl = '@Url.Action("ReadCompanyManager", "Company", new { id = Model.CompanyId })';
                var type = "GET";
                var divToReplace = $("#divOperating");
                AsyncUpdate(actionUrl, type, divToReplace);


            })

            // 註冊刪除按鈕


        </script>
, true);
}
