@model G16_2013.Models.MemberModel.CompanyInputModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>新增公司</h2>
@using (Html.BeginForm("ToCreateCompany", "Company", FormMethod.Post, new { @class = "form-horizontal well" }))
{

    <fieldset>

        <div class="form-group">

            @Html.LabelFor(model => model.ParentCompanyId, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.ParentCompanyId, new SelectList(Model.ParentCompanyOptions, "Value", "Text", Model.ParentCompanyId), new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyTypeId, new { @class = "control-label col-md-2" })

            <div class="col-md-6">
                @Html.DropDownListFor(m => m.CompanyTypeId, new SelectList(Model.CompanyTypeOptions, "Value", "Text", Model.CompanyTypeId), new { @class = "form-control input-sm" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.BeginDate, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(m => m.BeginDate, "DatePicker", new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(m => m.EndDate, "DatePicker", new { @class = "form-control input-sm" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NoManager, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(model => model.NoManager, false, new { @checked = true, id = "hasManager" })
                        有
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        @Html.RadioButtonFor(model => model.NoManager, true)
                        無
                    </label>
                </div>
            </div>
        </div>
    </fieldset>


    <div id="divManager">
        <h2>公司聯絡人資訊</h2>

        <div id="divManagerInfo">
            <label class="radio-inline">
                <input type="radio" name="PersonType" checked="checked" id="AddPerson" />新增人員
            </label>
            <label class="radio-inline">
                <input type="radio" name="PersonType" id="FindPerson" />現有人員
            </label>
            @Html.EditorFor(m => m.ManagerInput, "Person/PersonWithContactInfo")


        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-2">
            <input type="button" class="btn btn-default" id="btncancel" value="取消" />
            <button type="submit" class="btn btn-primary">確認送出</button>
        </div>
    </div>

}


@section Scripts{
    <script>
        $(document).ready(function () {
            init();
            function init() {

                $("#btncancel").click(function (e) {
                    e.preventDefault();
                    var url = '@Url.Action("Index","Company")'
                    window.location.assign(url);
                })

                //radio切換事件
                $("input[name='@Html.NameFor(m=>m.NoManager)']").change(function () {
                    var actionName = $(this).attr("id").toString();
                    switch (actionName) {
                        case "hasManager":
                            $("#divManager").css("display", "inline");
                            break;
                        case "NoManager":
                            $("#divManager").css("display", "none");
                            break;
                    }
                })

            }   //End init

        })


    </script>

}
