@using PagedList;
@using PagedList.Mvc;
@model IPagedList<G16_2013.Models.MemberModel.CompanyViewModel>

@{
    ViewBag.Title = "公司管理首頁";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default ">
            <div class="panel-body">
                <div class="row">
                    @* 新增Company按鈕 *@
                    <div class="col-md-4">
                        <form role="form" action="/Company/Create">
                            <button type="submit" class="btn btn-primary ">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                新增公司
                            </button>
                        </form>
                    </div>

                    @* 條件搜尋 *@
                    @using (Html.BeginForm("Index", "Company", FormMethod.Post, new { @class = "form-horizontal", role = "search" }))
                    {
                        @Html.Action("GetCompanySearchInput", "Company", new { searchWay = ViewBag.SearchWay, parentCompany = ViewBag.ParentCompany })
                    }
                </div>
            </div>
        </div>


        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>公司名稱</th>
                    <th>類型</th>
                    <th>合約狀態</th>
                    <th>開始日期</th>
                    <th>結束日期</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <tr>
                        <td colspan="6">查無資料</td>
                    </tr>
                }
                else
                {
                    foreach (var companyView in Model)
                    {
                       
                        <tr>
                            <td></td>
                            <td>@Html.ActionLink(companyView.FullName, "Detail", "Company", new { id = companyView.CompanyId }, new { @class = "text-info" })</td>
                            <td>@companyView.CompanyTypeName</td>
                            <td>@companyView.StatusText</td>
                            <td>@Html.DisplayFor(m=>companyView.BeginDate)</td>
                            <td>@Html.DisplayFor(m => companyView.EndDate)</td>
                              
                        </tr>
                    }
                }


            </tbody>

        </table>

        @if (Model != null)
        { 
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, ViewBag.SearchWay, ViewBag.KeyWord, ViewBag.SortBy }),
        new PagedListRenderOptions
        {

            LinkToFirstPageFormat = "<< 第一頁",
            LinkToPreviousPageFormat = "< 上一頁",
            LinkToNextPageFormat = "下一頁 >",
            LinkToLastPageFormat = "最後一頁 >>",
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,

        })
        }
        


    </div>
</div>
