@model G16_2013.Models.MemberModel.PersonInputModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.PersonId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonId)
                @Html.ValidationMessageFor(model => model.PersonId)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TWID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TWID)
                @Html.ValidationMessageFor(model => model.TWID)
            </div>
        </div>
        @Html.EditorFor(model => model.ContactInfoInput, "ContactInfo")


        @*<div class="form-group">
            @Html.LabelFor(model => model.ContactInfoInput.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactInfoInput.Phone)
               
            </div>
        </div>
        <div class="form-group">
           
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ContactInfoInput.CityId, (SelectList)ViewBag.CityId)
               
            </div>
        </div>
        <div class="form-group">
        
            <div class="col-md-10">
              
                @Html.DropDownListFor(m => m.ContactInfoInput.DistrictId, (SelectList)ViewBag.DistrictId)
            </div>
        </div>
        <div class="form-group">
           
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactInfoInput.Street)

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@
    </div>
}
